opencv-python
diffusers
transformers
tokenizers
accelerate
pandas
numpy
einops
tqdm
loguru
imageio
imageio-ffmpeg
safetensors
runpod
hf_transfer
xformers

python-decouple
google-cloud-storage
pytz
requests

--find-links https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio